<script type="text/javascript" src="/js/bondi/services/maps.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('select#bus').chosen();
    });
</script>

<form>
    <div class="form-group">
        <label for="address">Tu dirección</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Av. Corrientes 1234">
    </div>

    <div class="form-group">
        <label for="bus">Colectivo</label>
        <select class="form-control" id="bus" name="bus">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>

    <div class="form-group">
        <label for="range">Distancia</label>
    </div>

    <button type="submit" class="btn btn-default">Buscar</button>
</form>

<div>
    MAPA
</div>
